{% extends "main/base.html" %}
{% block content %}


   <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {% for location in locations %}

      <div class="col mb-4">
        <div class="card shadow-sm showHover">
          <div class="name text-center" >
            <p><strong>{{ location.imageName }}</strong></p>

          </div>
         
            <img src="{{ location.squareImage.url}}" class="img-responsive" alt="..." style="width:100%; height:100%;">
               <br>
                  
            <p> {{ location.description }} </p>
            <br>

        </div>
      </div>
      {% endfor %}
     </div>
   </div>

{% endblock content %}
 

