{%extends 'main/base.html'%} 
{% block content %}
<div class="container">

    <div class="row">
        {% if images %}
        <p>Found {{ images|length }} of searched term {{message}}</p>
        {% else %}
        <p> Found 0 images for the search term {{message}}</p>
        {% endif %}

    </div>

    <div class="row">

    {% if images %}
      {% for image in images %}
        <div class="col-sm-6">
            <img src="{{ image.squareImage.url }}" height="200px" width="300px" alt="">
            
        </div>
        <div class="col-md-4">
            <h3><u>{{ image.imageName }}</u></h3>
            <p>Description: {{ image.description }}</p>
            <p>Category: {{ image.category }}</p>
            <p>Location : {{image.location }}</p>
            
            

        </div>
      {% endfor %}
    {% endif %}
    </div>
      <a href="{% url 'home' %}" class="btn btn-dark my-3">Go Back</a>
    </div>

</div>    
{% endblock %}